<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="welcomeMessageBean" class="com.niit.welcome.WelcomeMessage">

</bean>
<bean id="carObj" class="com.niit.welcome.Car">
<property name="color" value="Red"></property>
<property name="engine" ref="engineObj"></property>
<!-- carObj.setEngine(engineObj) -->
</bean>
<bean id="engineObj" class="com.niit.welcome.Engine"></bean>
<!-- WelcomeMessage welcomeMessageBean=new com.niit.WelcomeMessage() --> 

<bean id="traveller" class="com.niit.di.Traveller">
<property name="KmTravelled" value="10"></property>
<property name="name" value="John"></property>
<property name="vehicle" ref="motorBike"></property>
</bean>
<bean id="car" class="com.niit.di.Car">
<property name="regNo" value="1345"></property>
<property name="costPerKm" value="120.0"></property>
</bean>
<bean id="motorBike" class="com.niit.di.MotorBike">
<property name="costPerKm" value="100.00"></property>
</bean>
<!--  Engine engineObj=new Engine(); -->
<!-- WelcomeMessage welcomeMessageBean=new com.niit.welcome.WelcomeMessage() -->
</beans>